:root {
  --foreground-rgb: #f5f5fa;
  --background-start-rgb: #121F3F;
  --background-end-rgb: #121F3F;
  --background-container-rgb: #203354;
  --foreinactive-color: #203354;
  --background-input: #0a0b1b;
  --border-color: #b3b6e6;
  --foreactive-color: #4285f4;
  --foreinactivetab-color: #637a9d;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
    overflow: hidden;
}

/*
.main {
  overflow: auto;
  height: 100vh;
}
*/

@media (min-width: 768px) {
  .main {
    overflow: hidden;
    height: 100vh;
  }
}

.navbar {
  z-index: 1046;
  background-color: var(--background-start-rgb);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  color:   rgb(18, 31, 61);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--foreground-rgb);
}

.navbar-nav .nav-link:hover {
  color: var(--foreground-rgb);
}

.nav-link {
  color: var(--border-color);
}

.nav-link:focus {
  color: var(--foreground-rgb);
}

.navbar-brand {
  color: var(--foreground-rgb);
}

.navbar-toggler {
  color: var(--foreground-rgb);
}

.navbar-toggler-icon {
  color: var(--foreground-rgb);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--foreactive-color);
  background-color: transparent;
  border-color: var(--foreactive-color);
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.nav-tabs {
  border-bottom-color: var(--foreinactive-color);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: var(--foreinactivetab-color);  
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border-style: none;
  color: var(--foreground-rgb);
}

@media (min-width: 992px) {
  .navbar-nav.me-auto {
    margin-right: unset!important;
  }
}

.button-toggled {
  width: 100%;
}

.button-row {
  display: none;  
}

@media (min-width: 768px) {
  .button-row {
    display: flex;  
  }
  .button-toggled {
    display: none;
  }
}

.badge {
  background-color: var(--background-container-rgb);
}

.badge.active {
  background-color: var(--border-color);
  color: var(--background-input);
}

.logo-container {
  width: 30px;
  height: 30px;  
}

/*Chat*/
.chat-main {
  padding-top: 1rem;
  overflow: hidden;
  height: 100%;
  display: none;
}

@media (min-width: 768px) {
  .chat-main {
    display: block;
  }
  .chat-box {
    height: 60vh;
  }
  
  .chat-box:hover {  
    overflow-y: auto;
  }
}

.chat-name {
  font-size: 90%;
}

.chat-since {
  font-size: 90%;
  font-weight: 200;
}

.stars {
  margin: 0.5rem;
  height: 70px;
  min-width: 50px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.user-header {
  margin: 0.5rem;
}

.img-thumbnail-container {
  width: 50px;
  height: 50px;  
}
.img-thumbnail-avatar {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.user-body-message {
  padding: 0.5rem;
  font-weight: 200;
  font-size: 90%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;  
}
.chat-box-item {
  border-radius: 15px;
  background-color: var(--background-container-rgb);
  color: var(--border-color);  
  margin: 0.5rem;
  height: 100%;
}

/*Search control*/
.form-control {
  background-color: var(--background-input);
  font-size: 90%;
  color: var(--foreground-rgb);
  border-color: var(--border-color);
}
.input-group-text {
  background: transparent;
  color: var(--foreground-rgb);
}

/*Message input*/
.input-container {
  border-radius: 15px;
  background-color: var(--background-container-rgb);
  color: var(--border-color);
  width: 95%;
  height: 75px;  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.input::placeholder {
  color: var(--border-color);
}

.input {
  background-color: var(--background-input);
  width: 95%;
  height: 82%;  
  padding: 10px 10px 10px 10px;  
  border-radius: 5px;
  font-size: 80%;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0.5px;
  color: var(--foreground-rgb);
}

/*Video*/
.video-main {
  overflow: hidden;
  height: 100%;
}

.video-wrapper {
  height: 90vh;  
  overflow-y: auto;
}

@media (min-width: 768px) {
  .video-wrapper {
    overflow: hidden;
  }
  .video-wrapper:hover {
    overflow-y: auto;
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/*Recursos*/
.recursos-container > .seccion {
  border-bottom-color: var(--foreinactive-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.recursos-main {
  display: none;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .recursos-main {
    display: block;
  }
}

/*Sidenav*/

.offcanvas-body-card {
  padding-top: 20px;
  padding-left: 1rem;
}

.offcanvas-body, .offcanvas-header {
  background-color: var(--background-container-rgb);
  padding-left: 0;
  padding-right: 0;    
  padding-bottom: 0.6rem;
}

.offcanvas-body {
  padding-top: 0;
}

.marker-main {
  display: none;
}

@media (min-width: 768px) {
  .marker-main {
    display: block;
  }
}

.marker-list {
  background-color: var(--background-container-rgb);
}

/* Stepper */
.body-stepper {
  padding-top: 1.6rem;
  padding-left: 0.5rem;
  max-width: 2.5rem;
  height: 85vh;  
  overflow-y: auto;  
}

.stepper {
  list-style: none;
}

.step {
  position: relative;
  min-height: 1em;
  color: var(--border-color);
  cursor: pointer;
  /*transition: filter 300ms;*/
}

.step:hover {
  color: #637a9d;
  /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
  /*border-radius: 5px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  /*filter: brightness(1.2);*/
}

.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.step.step-active {
  color: var(--foreactive-color);
}
.step.step-active .circle {
  background-color: var(--foreactive-color);
}

.step.step-active .circle:after {
  background-color: var(--foreactive-color);;
}

/* Circle */
.circle {
  background: var(--foreground-rgb);
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: var(--background-container-rgb);
  text-align: center;
  box-shadow: 0 0 0 3px var(--background-container-rgb);
  /*wtf*/
  z-index: 1048;
}

/* Vertical Line */
.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 3px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: var(--border-color);  
  /*wtf*/
  z-index: 1047;
}
.step:last-child .circle:after {
  display: none
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}


/*Mobile Tabs*/
.tabs-main {
  display: block;
}

@media (min-width: 768px) {
  .tabs-main {
    display: none;
  }
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {    
  background-color: transparent;
  /*
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  */
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.body-stepper::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  display: none;
}

.body-stepper::-webkit-scrollbar-track {    
  background-color: transparent;
  /*
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  */
}

.body-stepper::-webkit-scrollbar-thumb {
  background-color: #051216;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.body-stepper::-webkit-scrollbar-thumb:hover {
  background-color: #0f181a;
}
